<!-- Content Header (Page header) -->
<section class="content-header">
          
         <h1>  Tableau de bord  </h1>        
            <div class="pull-right">
            
            </div>
          


</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
    
        </div>
    </div>

    <div class="row">
        <section id="widget_4" class="col-md-12" data-size="4" data-url="#">
            <!-- TABLE: LATEST ORDERS -->
        
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Vos statistiques d'usage</h3>

                <div class="box-tools pull-right">
                    <!-- Right content here -->
                </div>
          </div>

          <div class="box-body">
             <!-- Content here -->
          </div>

          <!--<div class="box-footer hidden-xs hidden-sm">
            Section footer content here 
          </div>-->
        
        </section>
    </div>

    <div class="row">
        <section id="widget_4" class="col-md-12" data-size="4" data-url="#">
            <!-- TABLE: LATEST ORDERS -->
        
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Votre compte en chiffre</h3>

                <div class="box-tools pull-right">
                    <!-- Right content here -->
                </div>
          </div>

          <div class="box-body">
             <!-- Content here -->
          </div>

          <!--<div class="box-footer hidden-xs hidden-sm">
            Section footer content here 
          </div>-->
        
        </section>
    </div>

    <div class="row">
        <section id="widget_4" class="col-md-12" data-size="4" data-url="#">
            <!-- TABLE: LATEST ORDERS -->
        
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Vos dernières campagnes</h3>

                <div class="box-tools pull-right">
                    <!-- Right content here -->
                </div>
          </div>

          <div class="box-body">
             <!-- Content here -->
          </div>

          <!--<div class="box-footer hidden-xs hidden-sm">
            Section footer content here 
          </div>-->
        
        </section>
    </div>

   

     
    
</section><!-- /.content -->
