<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Tableau de bord            <small class="hidden-xs">Panneau d'administration</small>
            <div class="pull-right">
            
            </div>
          </h1>


        </section>

        <!-- Main content -->
        <section class="content">

          <div class="row">
  <div class="col-sm-12">
    
  </div>
</div>
<div class="row">
    <section id="widget_4" class="col-md-12" data-size="4" data-url="#">
    <!-- TABLE: LATEST ORDERS -->
    
    <!-- TABLE: LATEST ORDERS -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-edit"></i> <a href="#" class="dashboard-widget-name editable editable-click" data-name="title" data-type="text">Graphique</a></h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool"><i class="fa fa-resize"></i></button>
          <button type="button" class="btn btn-box-tool"><i class="fa fa-wrench"></i></button>
          <form method="POST" action="#" accept-charset="UTF-8" style="display:inline">
            <input name="_method" type="hidden" value="DELETE">
            <input type="hidden" name="_token" value="ftSQ1DoseKbRPY3GAqK1rhX28ErhN2Q9Erx8UYji">
            <button class="btn btn-box-tool" type="button" data-toggle="modal" data-target="#confirmWidgetAction" data-title="Derniers utilisateurs inscrits" data-message="Êtes vous sur de bien vouloir supprimer ce widget ?"><i class="fa fa-times"></i></button>
          </form>
        </div>
      </div>

      <div class="box-body">
         
      </div>

      <div class="box-footer hidden-xs hidden-sm">
        <button type="button" class="btn btn-default" data-resize-widget="minus"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-default pull-right" data-resize-widget="plus"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </section>
    
    <section id="widget_3" class="col-md-12" data-size="11" data-url="#">
   
    <!-- TABLE: LATEST ORDERS -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-edit"></i> <a href="#" class="dashboard-widget-name editable editable-click" data-name="title" data-type="text">Derniers voyages</a></h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool"><i class="fa fa-resize"></i></button>
          <button type="button" class="btn btn-box-tool"><i class="fa fa-wrench"></i></button>
          <form method="POST" action="#" accept-charset="UTF-8" style="display:inline">
            <input name="_method" type="hidden" value="DELETE">
            <input type="hidden" name="_token" value="ftSQ1DoseKbRPY3GAqK1rhX28ErhN2Q9Erx8UYji">
            <button class="btn btn-box-tool" type="button" data-toggle="modal" data-target="#confirmWidgetAction" data-title="Dernières annonces" data-message="Êtes vous sur de bien vouloir supprimer ce widget ?"><i class="fa fa-times"></i></button>
          </form>
        </div>
      </div>
      <div class="box-body">
        
    
      </div>
      <div class="box-footer hidden-xs hidden-sm">
        <button type="button" class="btn btn-default" data-resize-widget="minus"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-default pull-right" data-resize-widget="plus"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </section>
  </div>
<!-- Modal Dialog -->
<div class="modal fade confirmationDialog" id="confirmWidgetAction" role="dialog" aria-labelledby="confirmWidgetActionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="modal-message"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" id="confirm">Supprimer</button>
      </div>
    </div>
  </div>
</div>

        </section><!-- /.content -->
