
<!-- Content Header (Page header) -->
<section class="content-header">
         <div class="pull-left">
             CRÉATION / GESTION DE CAMPAGNES 
         </div> 
           
            <div class="pull-right">
              <%= link_to "Créer une campagnes",  new_campaign_path , class: "btn btn-primary" %>
            </div>
          


</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
    
        </div>
    </div>

    <div class="row">
        <section id="widget_4" class="col-md-12" data-size="4" data-url="#">
            <!-- TABLE: LATEST ORDERS -->
        
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste de vos campagnes</h3>

                <div class="box-tools pull-right">
                    <!-- Right content here -->
                </div>
          </div>

          <div class="box-body">
             <!-- Content here -->
             <%= render "form" %>
          </div>

          <!--<div class="box-footer hidden-xs hidden-sm">
            Section footer content here 
          </div>-->
        
        </section>
    </div>

    

   

     
    
</section><!-- /.content -->


