  <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="images/logo/logo.png" width="30"></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="/images/logo/logo.png" width="150"></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Notifications Menu -->
                            <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                                      <span class="label label-success">8</span>
                                  </a>
                <ul class="dropdown-menu">
  <li class="header"><b>Notifications</b> <span class="pull-right"><a href="#">Tout marquer comme lu</a></span></li>
  <li>
    <!-- Inner Menu: contains the notifications -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 230px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 230px;">
          <li class="new"><!-- start notification -->
        <a href="#">
                                        <i class="fa fa-paper-plane-o text-aqua"></i> <span><b>ZEDx demo</b></span> a créé l'annonce <small><b>Villa de luxe</b></small>
          <br>
          <small class="time"><i class="fa fa-clock-o"></i> 17 hours ago</small>
        </a>
      </li><!-- end notification -->
          <li class="new"><!-- start notification -->
        <a href="#">
                                        <i class="fa fa-paper-plane-o text-aqua"></i> <span><b>ZEDx demo</b></span> a créé l'annonce <small><b>Dodge challenger</b></small>
          <br>
          <small class="time"><i class="fa fa-clock-o"></i> 17 hours ago</small>
        </a>
      </li><!-- end notification -->
          <li class="new"><!-- start notification -->
        <a href="#">
                                        <i class="fa fa-paper-plane-o text-aqua"></i> <span><b>ZEDx demo</b></span> a créé l'annonce <small><b>Lamborghini aventador</b></small>
          <br>
          <small class="time"><i class="fa fa-clock-o"></i> 17 hours ago</small>
        </a>
      </li><!-- end notification -->
          <li class="new"><!-- start notification -->
        <a href="#">
                                        <i class="fa fa-user text-aqua"></i> <span class="text-green"><b>[ ZEDx ]</b></span> a créé l'utilisateur <small><b>Burley Hilll</b></small>
          <br>
          <small class="time"><i class="fa fa-clock-o"></i> 17 hours ago</small>
        </a>
      </li><!-- end notification -->
          <li class="new"><!-- start notification -->
        <a href="#">
                                        <i class="fa fa-user text-aqua"></i> <span class="text-green"><b>[ ZEDx ]</b></span> a créé l'utilisateur <small><b>Gus Dicki</b></small>
          <br>
          <small class="time"><i class="fa fa-clock-o"></i> 17 hours ago</small>
        </a>
      </li><!-- end notification -->
          <li class="new"><!-- start notification -->
        <a href="#">
                                        <i class="fa fa-user text-aqua"></i> <span class="text-green"><b>[ ZEDx ]</b></span> a créé l'utilisateur <small><b>Anjali Feeney</b></small>
          <br>
          <small class="time"><i class="fa fa-clock-o"></i> 17 hours ago</small>
        </a>
      </li><!-- end notification -->
          <li class="new"><!-- start notification -->
        <a href="#">
                                        <i class="fa fa-user text-aqua"></i> <span class="text-green"><b>[ ZEDx ]</b></span> a créé l'utilisateur <small><b>ZEDx demo</b></small>
          <br>
          <small class="time"><i class="fa fa-clock-o"></i> 17 hours ago</small>
        </a>
      </li><!-- end notification -->
        </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
  </li>
  <li class="footer"><a href="#"><b>Afficher tout</b></a></li>
</ul>
              </li>
              <li class="active">
                <!-- Menu Toggle Button -->

                  <%= link_to raw('<i class="fa fa-sign-out icon-sign-out"></i> Déconnexion'), destroy_user_session_path, class:"btn btn-sign-out btn-flat bg-red" , method: :delete %>
              </li>
            </ul>
          </div>
        </nav>
      </header>