<div class="container">
<div id="footer" class="container-brand-dark footer-surround footer-container"> 
  

<div class="space-top-2 text-muted">
	<div class="pull-left">
      &copy; <%= Time.now.year %> Netpush
     </div>
     <div class="pull-right">
     	Version 1.0 Alpha
     </div>
</div>
</div>
</div>