<div class="container">
<div id="footer" class="container-brand-dark footer-surround footer-container"> 
  

<div class="space-top-2 text-muted">
      &copy; <%= Time.now.year %> Lacaisse 
</div>
</div>
</div>